{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}
{% block page_title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}
 {% if user.is_authenticated %}
<h2>{% trans "Category list" %}</h2>
{% if user.profile.learningStyle != '0' %}
<ul>
  {% for cat in category_list %}
  <li>
	<a href="{% url 'quiz_category_list_matching' category_name=cat.category %}">
	  {{ cat.category }}
	</a>
  </li>
  {% endfor %}
</ul>
	{% else %}
				<div class="alert alert-info" role="alert"> <p class="label label-info">Reminder</p></br> You need to complete your profile ! <a href="/trainingPortal/learningStyleCompletion/" class="btn btn-info" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
	{% endif %}
	{% else %}
				<div class="alert alert-warning" role="alert"> <p class="label label-warning">WARNING</p></br> Please log in to access this page.  <a href="/accounts/login" class="btn btn-warning" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>

		{% endif %}
{% endblock %}
