{% extends "admin/change_form.html" %}

{% load wysiwyg %}

{% block extrahead %}
    {{ block.super }}
    {% wysiwyg_setup %}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% wysiwyg_editor "entry_default" %}
	{% wysiwyg_editor "entry_Activist_Type" %}
	{% wysiwyg_editor "overview" %}
	{% wysiwyg_editor "entry_Reflector_Type" %}
	{% wysiwyg_editor "entry_Theorist_Type" %}
	{% wysiwyg_editor "entry_Pragmatist_Type" %}
	{% wysiwyg_editor "availableAnswers" %}
	{% wysiwyg_editor "text" %}
	{% wysiwyg_editor "correctAnswer" %}
{% endblock %}