{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block page_title %}<span class="label label-primary" style="background-color:#006699;border-color:#80B2CC;color:white;"> {{ quiz.title }}</span> {% endblock %}

{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if user.profile.learningStyle != '0' %}
 <p class="label label-success">Already Completed</p></br>
  <p>{% trans "You have already sat this exam and only one sitting is permitted" %}.</p>
	{% else %}

	<div class="alert alert-info" role="alert"> <p class="label label-info">Reminder</p></br> You need to complete your profile ! <a href="/trainingPortal/learningStyleCompletion/" class="btn btn-info" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
	{% endif %}
{% else %}
				<div class="alert alert-warning" role="alert"> <p class="label label-warning">WARNING</p></br> Please log in to access this page.  <a href="/accounts/login" class="btn btn-warning" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>

		{% endif %}

{% endblock %}
