
{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}
{% block page_title %}<span class="label label-info" style="background-color:#9BE81E;border-color:#7AC402;color:white;">&nbsp;<b>About</b>&nbsp;</span>{% endblock %}
	{% block content %}

	<div class="well">
{% if user.is_authenticated %}
		{% if user.profile.learningType == '0' %}
				<div class="alert alert-info" role="alert"> <p class="label label-info">Reminder</p></br> You need to complete your profile ! <a href="/trainingPortal/learningType/" class="btn btn-info" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>

	</br>
{% endif %}
	{% endif %}
	This training portal is about <b>Cybersecurity</b> and <b>Forensics</b> on Android mobile devices.</br>
	<b class="label label-success">&nbsp;Learning Styles&nbsp;&nbsp; </b>&nbsp;&nbsp;It implements the Honey and Mumford learning styles where a user takes a questionnaire and enters their result. </br>
	<b class="label label-primary">&nbsp;Assessment &nbsp;&nbsp;</b>&nbsp;&nbsp;Users are assessed through quizzes. A user's progress is shown on their profile. The statistics page shows an overview of the portal's usage. </br>
		<b class="label label-info">&nbsp;Communication &nbsp;&nbsp;</b>&nbsp;&nbsp;Communication features are implemented for User to User messaging and also a forum where users can create topics in a variety of forum categories.
   </div>
   </br>
     </br>
       {% endblock %}
