
{% extends 'base.html' %}
{% load static %}

{% block title %}Chapter{% endblock %}

{% block page_title %}{% if user.is_authenticated %}

<div class="container-fluid">
    <div class="btn-group" role="group" style="padding-left:4px;margin-bottom:10px" aria-label="...">
    &nbsp; <a type="button"class="btn btn-primary" href="/trainingPortal/chapters/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;<b> Back   </b>&nbsp;</a>
</div></div>

<div class="well"style="margin-top:25px;">
    <div class="container-fluid"style="margin-top:10px;margin-left:10px;margin-right:10px;margin-bottom:10px;">
<span class="label label-success">&nbsp;<b>Chapter</b></span>
<span class="label label-default"></span><b style="color:black; font-size: 78%">&nbsp; {{title}}</b>&nbsp;</span></div>
</div>
{% endif %}


{% endblock %}

	{% block content%}

	{% if user.is_authenticated %}
	     {% if exists %}

    </br>
<div class="well">
<div class="container-fluid"style="background-color:#E6E6E6;margin-top:5px;padding-left:25px;padding-right:25px;margin-bottom:5px;">
	    </br>
{{c.overview}} </br></br></div> </br>
	 {% if set_learningType %}
	{% if pages %}
			<ul class="list-group">
			<div class="btn-group btn-block btn-group-horizontal  ">
					{% for page in pages %}
					<li class="list-group-item"><button class="btn disabled btn-info">{{page.number}}</button><div class="btn-group "role="group">
					<a href="/trainingPortal/chapter/{{ chapter }}/{{ page.url }}" class="btn btn-info" role="button"><span class="glyphicon glyphicon-file"></span> {{ page.title }} <span class="badge">Open</span></a>
					{% endfor %}
			</div>
			{% else %}
            <strong>There are no pages!</strong>
			{% endif %}
	 	 {% else%}
					<div class="alert alert-info" role="alert"> <p class="label label-info">Reminder</p></br> You need to complete your profile ! <a href="/trainingPortal/learningType/" class="btn btn-info" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
	{% endif %}
	   {% else%}
    				<div class="alert alert-danger" role="alert"> <p class="label label-danger">WARNING</p> </br><b>Chapter</b> does not exist ! Please check the url and try again.</a>
     </div>
      {% endif %}
		{% else %}
				<div class="alert alert-warning" role="alert"> <p class="label label-warning">WARNING</p></br> Please log in to access this page.  <a href="/accounts/login" class="btn btn-warning" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>

		{% endif %}

		   </div>
 </br>
		     </div>
		     		   </br> </br> </br>
			 <button class="btn btn-success disabled" type="button"><b>Chapter </b></button>
<div class="btn-group  dropup">
<button class="btn btn-group-lg btn-default disabled" type="button"><b>{{ chapter }}</b></button>
<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><span class="caret"></span>
	  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  {% if chapters %}
  <li role="presentation" class="dropdown-header">Chapters</li>
					{% for chapter in chapters %}
						<li><a role="menuitem" tabindex="-1" href="/trainingPortal/chapter/{{ chapter.url }}">{{ chapter.title }}</a></li>
					{% endfor %}
	{% endif %}
  </ul>

  </div>
  		   </br>
  </br>  </br> </br> </br> </br> </br>
       {% endblock %}