
{% extends 'base.html' %}
{% load static %} 

{% block title %}Chapter{% endblock %}
{% block page_title %}<span class="label label-success">Chapter : </span><span class="label label-default">{{title}}</span>{% endblock %}
	{% block content %}
<div class="well">
{% if user.is_authenticated %}	
	<b>Pages<b></br></br>
	{% if pages %}
			<div class="btn-group btn-group-vertical btn-block">
					{% for page in pages %}
					<a href="/trainingPortal/chapter/{{ chapter }}/{{ page.url }}" class="btn btn-info" role="button"><span class="glyphicon glyphicon-file"></span>{{ page.title }}</a>
					{% endfor %}
			</div>
			{% else %}
            <strong>There are no pages!</strong>
			{% endif %}
	
		{% else %}
              Please log in to access this page.      
		{% endif %}
   </div>
   
       {% endblock %}