
{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Index{% endblock %}
{% block page_title %}<span class="label label-info">Home</span>{% endblock %}
	{% block content %}

	{% if testing %}
	<span class="label label-danger">Testing Mode</span>
	{% endif %}
	{% if user.is_authenticated %}
		{% if set_learningType == False %}
			<div class="alert alert-info" role="alert"> <p class="label label-info">Reminder</p></br> You need to complete your profile ! <a href="/trainingPortal/learningType/" class="btn btn-info" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>

	</br>
	  	{% endif %}
	  		{% if user.is_authenticated %}
		<div class="alert alert-success" role="alert" style="color:#3D6614!important;background-color:#CCFF66!important;border-color:#CCFF66!important"> Welcome back <b style="color:#141A05!important">{{user.username}}</b> <span class="glyphicon glyphicon-education" style="color:#080A02!important"></span></div>
			{% endif %}
	{% endif %}
<div class="well">
	</br>
	Welcome to the Cybersecurity Training Portal</br></br>
   </div>

	    {% endblock %}