
{% extends 'base.html' %}
{% load static %} 
{% load socialaccount %}
{% block title %}Index{% endblock %}
{% block page_title %}<span class="label label-info">Home</span>{% endblock %}
	{% block content %}
		{% if user.is_authenticated %}
		<div class="alert alert-success" role="alert"> Welcome back <b>{{user.username}}</b> <span class="glyphicon glyphicon-education"></span></div>
			{% endif %}
	{% if testing %}
	<span class="label label-danger">Testing Mode</span>
	{% endif %}
	{% if user.is_authenticated %}
		{% if set_learningType == False %}
			<div class="alert alert-info" role="alert"> <p class="label label-info">Reminder</p></br> You need to complete your profile ! <a href="/trainingPortal/learningType/" class="btn btn-info" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>

	</br>
	  	{% endif %}
	{% endif %}
<div class="well">	
	Welcome to the Cybersecurity Training Portal</br></br>
   </div>
 
	    {% endblock %}