
{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Index{% endblock %}

{% block page_title %}<span class="label label-info" style="background-color:#9BE81E;border-color:#7AC402;color:white;">&nbsp;<b>Home</b>&nbsp;</span>
{% endblock %}

  {% block extra_head %}

<!--reference http://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_hide_show -->
<script>
$(document).ready(function(){
    $("announcement").hide();
     $("#close").hide()
    $("#display").click(function(){
        $("announcement").show();
         $("#display").hide()
           $("#close").show()
    });
     $("#close").click(function(){
        $("announcement").hide();
         $("#display").show()
          $("#close").hide()
    });
});
</script>
    {% endblock %}

	{% block content %}

	{% if testing %}
	<span class="label label-danger">Testing Mode</span>
	{% endif %}
	{% if user.is_authenticated %}
		{% if set_learningType == False %}
			<div class="alert alert-info" role="alert"> <p class="label label-info">Reminder</p></br> You need to complete your profile ! <a href="/trainingPortal/learningType/" class="btn btn-info" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>

	</br>
	  	{% endif %}
	  		{% if user.is_authenticated %}
		<div class="alert alert-success" role="alert" style="color:#3D6614!important;background-color:#CCFF66!important;border-color:#CCFF66!important"> Welcome back <b style="color:#141A05!important">{{user.username}}</b> <span class="glyphicon glyphicon-education" style="color:#080A02!important"></span></div>
			{% endif %}
	{% endif %}
	<h3><span class="label label-danger" style="color:white!imporant"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;Announcements&nbsp;
 <div class="btn-group btn-group-xs" role="group" aria-label="..."><b><a class="btn btn-danger"id="display" style="font-size:14px;">Show</a> <a class="btn btn-danger" id="close"style="font-size:14px">Hide</a></b></div>
</span></h3>

       <div id="announcement"class="container-fluid">
            <announcement>
      {% if hasAnnouncement %}
      	{% for announcement in announcements %}
<div class="alert alert-danger container-fluid" style="color:white!imporant"><p class="label label-danger">{{announcement.title}}</p> &nbsp;{{announcement.entry}} </div>

      		{% endfor %}

      	{% else %}
    No announcements are available.
	{% endif %}
	</announcement>
           </div></br>
<div class="well">
	</br>
	Welcome to the Cybersecurity Training Portal.
{% if hasIndex %}
      	{% for indexelement in indexelements %}<hr>
 {% autoescape off %}{{indexelement.entry}}{% endautoescape %}

      		{% endfor %}
<hr>
      	{% else %}
	{% endif %}
   </div>

   <h3><span class="label label-info"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;News&nbsp;<img class="img-rounded" style="height:30px;" src="&#47;media&#47;images&#47;Twitter_logo_white.png"/></span></h3></br>
   <div class="container-fluid" style="margin-left: auto;
    margin-right: auto;
    width: 90%;">
       <!-- twitter widgets -->     &nbsp;&nbsp;  &nbsp;&nbsp;
               <a  style=" margin-left: 40px" class="twitter-timeline"  href="https://twitter.com/hashtag/cybersecurity" data-widget-id="570189381999542272">Cybersecurity Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         &nbsp;&nbsp;  &nbsp;&nbsp;  <a class="twitter-timeline"  href="https://twitter.com/hashtag/android%23security" data-widget-id="570191324952154112">Android Security Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</br>

</div>
	    {% endblock %}