
{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Page{% endblock %}
  {% block extra_head %}
<!--reference http://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_hide_show -->
<script>
$(document).ready(function(){
    $("answer").hide();
     $("#close").hide()
    $("#display").click(function(){
        $("answer").show();
         $("#display").hide()
           $("#close").show()
    });
     $("#close").click(function(){
        $("answer").hide();
         $("#display").show()
          $("#close").hide()
    });
});
</script>
    {% endblock %}


{% block page_title %}
     {% if user.is_authenticated %}
      {% if exists %}
<div class="container-fluid">
    <div class="btn-group" role="group" style="padding-left:4px;margin-bottom:10px" aria-label="...">
    &nbsp; <a type="button"class="btn btn-primary" href="/trainingPortal/chapter/{{chapter_url}}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;<b> Back   </b>&nbsp;</a>
</div></div>
</br></br>
<span id="top" class="label label-success" style="margin-left:20px">&nbsp;<b style="font-size:80%">Chapter </b></span><span class="label label-success" style="background-color:#99CC99;border-color:#99CC99"><b style="color:white;font-size: 80%"> {{chapter}}</b>&nbsp;</span>&nbsp;</br>

<div  class="well"style="margin-top:25px;">
    <div class="container-fluid"style="margin-top:10px;margin-left:10px;margin-right:10px;margin-bottom:10px;">
<span class="label label-info">&nbsp;&nbsp; &nbsp;<b>{{chapter_number}}.{{page.number}} &nbsp;</b></span>
<span  class="label label-default" ></span><b style="color:black;font-size: 82%">&nbsp; {{title}}</b>&nbsp;</span>   {% if hasExercise %}
	      <a class="badge" href="#exercise"style="background-color:#069ACB!important;border-color:#25B0DE!important">Exercise Available</a>
	        {% endif %}</br></div>
</div>
<div class="container-fluid"><div class="btn-group btn-group-sm" role="group" style="padding-left:4px;padding-top:5px;margin-bottom:15px" aria-label="...">
    {% if hasPrevious %}
    &nbsp; <a type="button"class="btn btn-info" href="/trainingPortal/chapter/{{ chapter_url }}/{{previous}}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;<b> Previous   </b>&nbsp;</a>

    {% else %}
   &nbsp;  <a type="button"class="btn btn-info disabled" href="/trainingPortal/chapter/{{ chapter_url }}/{{previous}}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;<b> Previous   </b>&nbsp;</a>

    	{% endif %}
       {% if hasNext %}
   &nbsp; <a type="button"class="btn btn-info" href="/trainingPortal/chapter/{{ chapter_url }}/{{next}}">&nbsp;&nbsp;&nbsp;<b> Next   </b>&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
    	{% else %}
    &nbsp;	 <a type="button"class="btn btn-info disabled" href="/trainingPortal/chapter/{{ chapter_url }}/{{next}}">&nbsp;&nbsp;&nbsp;<b> Next   </b>&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
    	{% endif %}
    	</div>
</div>
{% else %}
	<div  class="container-fluid">
    <div  class="btn-group" role="group" style="padding-left:4px;margin-bottom:10px" aria-label="...">
    &nbsp; <a type="button"class="btn btn-primary" href="/trainingPortal/chapters/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;<b> Back   </b>&nbsp;</a>
</div></div>
	{% endif %}

		{% endif %}
{% endblock %}

	{% block content %}

     {% if user.is_authenticated %}
     {% if exists %}

<div class="well" style="font-size:14px;background-color:#FCFCFC;width:92%;margin-left:4%;margin-right:4%; white-space: normal;">

	 {% if set_learningType %}
	<div class="container-fluid" style="background-color:#FCFCFC;overflow: auto;">

	{% autoescape off %}<p>{{entry}}</p>{% endautoescape %}
	</br>

	    <a class="badge" href="#top"style="background-color:#080808!important;border-color:#303030!important">Go to top</a>
	   </br>
	</div>
</br>
</div>
</br>
<h3><span id="exercise" class="label label-primary" style="margin-left:20px">&nbsp;<b>Exercise(s) </b></span></h3>
<div class="container-fluid" style="background-color:#F0F0F0;overflow: auto;">
     {% if hasExercise %}

     {% if furtherReading %}
     </br>
         <h4><span class="label label-primary" style="margin-left:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>  Further Reading </b>&nbsp;&nbsp;</span></h4>
  </br>
    <div class="container-fluid" style="background-color:white!important"> </br> {% autoescape off %}<p>  {{exercise.text}} </p>{% endautoescape %}</br></div>
     </br>
      {% else %}
    <h4><span class="label label-primary" style="margin-left:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>  {{exercise.question}} </b>&nbsp;&nbsp;</span></h4>
           </br>
       {% if hasMultiple %}
         <div class="container-fluid" style="background-color:white!important"> </br> 	{% autoescape off %}<p>  {{exercise.text}} </p>{% endautoescape %}</br></div>
           </br>
         </br>
                      <button class="btn btn-success"id="display">Display Answers</button> <button class="btn btn-danger"id="close">Close</button>
       </br>
          </br>

       </br>
          {% else %}
          {% if hasDiagram %}
<a href="{% thumbnail diagram 800x600 crop %}"><img class="img-rounded" style="width:65%;height:65%;" src="{% thumbnail diagram 800x600 crop %}"/></a>
</br>
 <h4><span class="label label-info" style="margin-left:20px">&nbsp;<b> Available answers</b>&nbsp;&nbsp;</span></h4>

           <div class="container-fluid"> 	{% autoescape off %}<p>{{exercise.availableAnswers}}</p>{% endautoescape %}</div>
</br>
              <button class="btn btn-success"id="display">Display Answer</button> <button class="btn btn-danger"id="close">Close</button>
       </br>
           {% else%}
            </br>
     <div class="container-fluid" style="background-color:#FAFAFA"> </br>      	{% autoescape off %}<p>  {{exercise.text}} </p>{% endautoescape %}</br></div>
           </br>
            <h4><span class="label label-info" style="margin-left:20px">&nbsp;<b> Available answers</b>&nbsp;&nbsp;</span></h4>

           <div class="container-fluid">	{% autoescape off %}<p> {{exercise.availableAnswers}}</p>{% endautoescape %}</div>
                         <button class="btn btn-success"id="display">Display Answer</button> <button class="btn btn-danger"id="close">Close</button>
       </br>
           {% endif %}
 {% endif %}
     <answer></br><div class="container-fluid" style="background-color:#B8FFB8"></br></br>{% autoescape off %}<p>{{exercise.correctAnswer}}</p>{% endautoescape %}</br></br></div></answer>

    </br>
     {% endif %}
    {% else%}
  </br>
  <div class="alert alert-info" role="alert">  There are no exercises available for this section.</div>
    </br>
     {% endif %}
</div>

</br>
  {% else%}
		<div class="alert alert-info" role="alert"> <p class="label label-info">Reminder</p></br> You need to complete your profile ! <a href="/trainingPortal/learningType/" class="btn btn-info" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
  {% endif %}
   {% else%}
     				<div class="alert alert-danger" role="alert"> <p class="label label-danger">WARNING</p> </br><b>Section</b> or <b>Chapter</b> does not exist ! Please check the url and try again.</a>

     {% endif %}
		{% else %}
  				<div class="alert alert-warning" role="alert"> <p class="label label-warning">WARNING</p></br> Please log in to access this page.  <a href="/accounts/login/?next=/trainingPortal/chapters/" class="btn btn-warning" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>

		{% endif %}
</br>
</div>
   {% if user.is_authenticated %}
</br>
<div class="container-fluid">
	 <button class="btn btn-success disabled" type="button"><b>Chapter </b></button>
<div class="btn-group  dropup">
     {% if user.is_authenticated %}
 {% if exists %}
<button class="btn btn-group-lg btn-default disabled" type="button"><b>{{ chapter }}</b></button>
	{% else %}
	<button class="btn btn-group-lg btn-default disabled" type="button"><b>Chapter</b></button>
{% endif %}
	{% else %}
	<button class="btn btn-group-lg btn-default disabled" type="button"><b>Chapter</b></button>
{% endif %}
<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><span class="caret"></span>
	  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  {% if chapters %}
  <li role="presentation" class="dropdown-header">Chapters</li>
					{% for chapter in chapters %}
						<li><a role="menuitem" tabindex="-1" href="/trainingPortal/chapter/{{ chapter.url }}">{{ chapter.title }}</a></li>
					{% endfor %}
	{% endif %}
  </ul>
  </div>
   {% if exists %}
	 <button class="btn btn-group-lg btn-info disabled" type="button"><b>Section </b></button>
 <div class="btn-group  dropup">


<button class="btn btn-group-lg btn-default disabled" type="button"><b>{{ title }}</b></button>




	  <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><span class="caret"></span>
	  </button>


  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  {% if pages %}
  <li role="presentation" class="dropdown-header">Sections</li>
					{% for page in pages %}
						<li><a role="menuitem" tabindex="-1" href="/trainingPortal/chapter/{{ chapter_url }}/{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}

  </ul>

{% endif %}
</div>
</div>
</br>
{% endif %}
	{% endif %}
</br>
</br></br>
</br>
</br></br></br>
</br>
       {% endblock %}