
{% extends 'base.html' %}
{% load static %}
{% block title %}Page{% endblock %}
{% block page_title %}<span class="label label-success">&nbsp;<b>Chapter </b></span><span class="label label-success" style="background-color:#99CC99;border-color:#99CC99"><b style="color:white"> {{chapter}}</b>&nbsp;</span>&nbsp;</br>
<div class="well"style="margin-top:25px;">
    <div class="container-fluid"style="margin-top:10px;margin-left:10px;margin-right:10px;margin-bottom:10px;">
<span class="label label-primary" style="margin-top:30px;background-color:#669999;border-color:#669999">&nbsp;&nbsp; &nbsp;<b>{{page.number}} &nbsp;</b></span>
<span class="label label-default"></span><b style="color:black">&nbsp; {{title}}</b>&nbsp;</span></br></div>
</div>
<div class="container-fluid"><div class="btn-group btn-group-sm" role="group" style="padding-left:4px;padding-top:5px;margin-bottom:15px" aria-label="...">
    {% if hasPrevious %}
    &nbsp; <a type="button"class="btn btn-primary" href="/trainingPortal/chapter/{{ chapter_url }}/{{previous}}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;<b> Previous   </b>&nbsp;</a>

    {% else %}
   &nbsp;  <a type="button"class="btn btn-primary disabled" href="/trainingPortal/chapter/{{ chapter_url }}/{{previous}}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;<b> Previous   </b>&nbsp;</a>

    	{% endif %}
       {% if hasNext %}
   &nbsp; <a type="button"class="btn btn-primary" href="/trainingPortal/chapter/{{ chapter_url }}/{{next}}">&nbsp;&nbsp;&nbsp;<b> Next   </b>&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
    	{% else %}
    &nbsp;	 <a type="button"class="btn btn-primary disabled" href="/trainingPortal/chapter/{{ chapter_url }}/{{next}}">&nbsp;&nbsp;&nbsp;<b> Next   </b>&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
    	{% endif %}
    	</div>
</div>
{% endblock %}
	{% block content %}

     {% if user.is_authenticated %}
     {% if exists %}
</br>
<div class="well" style="background-color:#FCFCFC;">

	 {% if set_learningType %}
	<div class="container-fluid" style="background-color:#FCFCFC">
	{% autoescape off %}<p>{{entry}}</p>{% endautoescape %}
	</div>

  {% else%}
		<div class="alert alert-info" role="alert"> <p class="label label-info">Reminder</p></br> You need to complete your profile ! <a href="/trainingPortal/learningType/" class="btn btn-info" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
  {% endif %}
   {% else%}
     				<div class="alert alert-danger" role="alert"> <p class="label label-danger">WARNING</p> </br><b>Page</b> or <b>Chapter</b> does not exist ! Please check the url and try again.</a>
     {% endif %}
		{% else %}
  				<div class="alert alert-warning" role="alert"> <p class="label label-warning">WARNING</p></br> Please log in to access this page.  <a href="/accounts/login" class="btn btn-warning" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
		{% endif %}

</div>
</br>

	 <button class="btn btn-success disabled" type="button"><b>Chapter </b></button>
<div class="btn-group  dropup">
<button class="btn btn-group-lg btn-default disabled" type="button"><b>{{ chapter }}</b></button>
<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><span class="caret"></span>
	  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  {% if chapters %}
  <li role="presentation" class="dropdown-header">Chapters</li>
					{% for chapter in chapters %}
						<li><a role="menuitem" tabindex="-1" href="/trainingPortal/chapter/{{ chapter.url }}">{{ chapter.title }}</a></li>
					{% endfor %}
	{% endif %}
  </ul>
  </div>
	 <button class="btn btn-group-lg btn-info disabled" type="button"><b>Section </b></button>
 <div class="btn-group  dropup">
<button class="btn btn-group-lg btn-default disabled" type="button"><b>{{ title }}</b></button>
	  <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><span class="caret"></span>
	  </button>


  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  {% if pages %}
  <li role="presentation" class="dropdown-header">Sections</li>
					{% for page in pages %}
						<li><a role="menuitem" tabindex="-1" href="/trainingPortal/chapter/{{ chapter_url }}/{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}
	{% endif %}
  </ul>
</div>
</br>

</br>
</br></br>
</br>

</br>
       {% endblock %}