
{% extends 'base.html' %}
{% load static %} 
	{% load thumbnail %}
{% block title %}Index{% endblock %}
{% block page_title %}
	{% if exists %}
{{username}}'s Profile
	{% else%}
Unknown Profile
   	{% endif %}
{% endblock %}
	{% block content %}
	{% if exists %}
	<div class="well">	
	<img class="img-rounded" style="height:150px; width:150px;" src="/media/images/logo_small.png"/>
	</br>
	<div class="container-fluid">	
    <span class="label label-info">Username:</span> <span class="badge">{{username}}</span><br/>
    <span class="label label-info">Age:</span> <span class="badge">{{profile.age}}</span><br/>
  </div>
		{% else%}
		Profile does not exist or User does not exist. Please <b>contact</b> the <b>admin</b> of the portal <b>or check for</b> a <b>typo</b> in the Username part of the web address / URL ( .../user/profile/<b>[this part]</b>).
   	{% endif %}
       {% endblock %}
	   
	       </div>