Django==1.7
Pillow==2.5.0
South==1.0.2
Unidecode==0.04.17
argparse==1.2.1
dj-database-url==0.3.0
django-ajax-selects==1.3.5
django-allauth==0.19.1
django-bootstrap-toolkit==2.15.0
django-ckeditor==4.4.7
django-classy-tags==0.6.1
django-cms==3.0.10
django-filer==0.9.9
django-mailer==0.1.0
django-model-utils==2.0.3
django-mptt==0.6.1
django-pagination==1.0.7
django-polymorphic==0.6.1
django-postman==3.2.0
django-quiz-app==0.5.0
django-registration-redux==1.1
django-sekizai==0.8.1
django-tinymce==1.5.3
django-transmeta==0.7.3
django-wysiwyg==0.7.0
djangocms-admin-style==0.2.5
djangocms-file==0.1
djangocms-flash==0.1
djangocms-googlemap==0.2
djangocms-inherit==0.1
djangocms-installer==0.7.2
djangocms-link==1.5
djangocms-picture==0.1
djangocms-teaser==0.1
djangocms-video==0.1
easy-thumbnails==2.2
html5lib==0.999
notification==0.2.1
oauthlib==0.7.2
python-openid==2.2.5
pytz==2014.10
requests==2.5.1
requests-oauthlib==0.4.2
six==1.9.0
wsgiref==0.1.2
