BeautifulSoup==3.2.1
Django==1.7.5
Markdown==2.3.1
PIL==1.1.7
Pillow==2.4.0
South==1.0
Unidecode==0.04.17
Whoosh==2.5.7
argparse==1.2.1
bbcode==1.0.21
dj-database-url==0.3.0
django-ajax-selects==1.3.5
django-allauth==0.19.1
django-annoying==0.8.1
django-appconf==1.0.1
django-bootstrap-toolkit==2.15.0
django-ckeditor==4.4.7
django-classy-tags==0.6.1
django-cms==3.0.10
django-compressor==1.4
django-debug-toolbar==1.2.2
django-djconfig==0.1.8
django-filer==0.9.9
django-haystack==2.1.0
django-helper==0.8.4
django-infinite-scroll-pagination==0.1.3
django-lb-attachments==0.8.3
django-mailer==0.1.0
django-model-utils==2.0.3
django-mptt==0.6.1
django-onlineuser==0.8.7
django-pagination==1.0.7
django-polymorphic==0.6.1
django-postman==3.2.0
django-quiz-app==0.5.0
django-registration-redux==1.1
django-sekizai==0.8.1
django-simple-avatar==0.8.6
django-spirit==0.1.3
django-tinymce==1.5.3
django-transmeta==0.7.3
django-wysiwyg==0.7.0
djangocms-admin-style==0.2.5
djangocms-file==0.1
djangocms-flash==0.1
djangocms-googlemap==0.2
djangocms-inherit==0.1
djangocms-installer==0.7.2
djangocms-link==1.5
djangocms-picture==0.1
djangocms-teaser==0.1
djangocms-text-ckeditor==2.4.3
djangocms-video==0.1
easy-thumbnails==2.2
html5lib==0.999
mistune==0.5
notification==0.2.1
oauthlib==0.7.2
postmarkup==1.2.2
pybbm==0.16.1
python-openid==2.2.5
pytz==2014.10
requests==2.5.1
requests-oauthlib==0.4.2
six==1.9.0
sorl-thumbnail==12.2
sqlparse==0.1.14
wsgiref==0.1.2
