{% extends "base.html" %}
{% load url from future %}
{% load i18n %}{% load postman_tags %}
{% block page_title %}
<div class="btn-group" role="group" aria-label="...">
<a type="button"class="btn btn-info" href="/messages/inbox/"><b> Inbox   <span class="glyphicon glyphicon-inbox"></span></b></a>
<a href="/messages/write/" type="button "class="btn btn-warning"><b> Write   <span class="glyphicon glyphicon-pencil"></span></b></a>
<a type="button"class="btn btn-primary" style="background-color:#9b30f4!important; border-color:#9b30f4!important" href="/messages/sent/"><b> Sent   <span class="glyphicon glyphicon-send"></span></b></a>
<a href="/messages/trash/" type="button "class="btn btn-danger"><b> Trash   <span class="glyphicon glyphicon-trash"></span></b></a>
<a href="/messages/archives/" type="button "class="btn btn-success"><b> Archives   <span class="glyphicon glyphicon-folder-open"></span></b></a></div>{% endblock %}

{% block content %}
<div class="container-fluid">
<div id="postman">
                        <div class="panel-body"style="background-color:#f5f8fa">
<h3>{% if pm_messages|length > 1 %}  <div class="panel-heading" style="background-color:#40c5e8!important; border-color:#40c5e8!important;color:white;"><b>{% trans "Conversation" %}</b>{% else %}  <div class="panel-heading" style="background-color:#40c5e8!important; border-color:#40c5e8!important;color:white;"><b>{% trans "Message" %}</b>{% endif %}</div></h3>

{% if archived %}<span class="label label-success">Archived</span>{% endif %}
</br></br>
<div class="panel panel-primary" style="border-color:#40c5e8!important">
          <div class="panel-body"style="background-color:white">

{% for message in pm_messages %}
<div class="pm_message{% if message.is_pending %} pm_pending{% endif %}{% if message.is_rejected %} pm_rejected{% endif %}{% if message.sender == user and message.sender_archived or message.recipient == user and message.recipient_archived %} pm_archived{% endif %}{% if message.sender == user and message.sender_deleted_at or message.recipient == user and message.recipient_deleted_at %} pm_deleted{% endif %}{% if message.recipient == user and not message.read_at %} pm_unread{% endif %}">
 <div class="pm_header">
  <span class="pm_sender">{{ message.obfuscated_sender|or_me:user }}</span> &raquo;
  <span class="pm_recipient">{{ message.obfuscated_recipient|or_me:user }}</span> |
  <span class="pm_date">{{ message.sent_at|date:"DATETIME_FORMAT"}}</span> |
  <span class="pm_subject">{{ message.subject }}</span>
{% if message.is_rejected %}  <div class="pm_status">{% trans "Rejected" %}{% if message.moderation_reason %}{% trans ":" %} {{ message.moderation_reason }}{% endif %}</div>{% endif %}
 </div></div>
 <div class="pm_body">{{ message.body|linebreaksbr }}</div>
</div>
</div>
</div>
</div></div>
<div class="container-fluid">
    <div class="container-fluid">
{% if forloop.last %}

<form action="" method="post">{% csrf_token %}
<input type="hidden" {% if pm_messages|length > 1 and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />
<!--<a href="/messages/inbox/"><button role="button" class="btn btn-info">{% trans "Back" %}</button></a>-->

<!--{% if reply_to_pk %}<a href="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}"><button role="button" class="btn btn-warning">{% trans "Reply" %}</button></a>{% endif %}-->

</form>
</div>
</div>
<div class="container-fluid">
{% if reply_to_pk %}<hr />
<div class="panel panel-primary"style="border-color:#f3a433!important">
  <div class="panel-heading" style="background-color:#f3a433!important; border-color:#f3a433!important">
    <h1 class="panel-title"><b>{% trans 'Reply' %}</b></h1>	 </div>
  <div class="panel-body">
<div class="table-responsive">
<form action="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post">{% csrf_token %}
<div id="pm_reply">{{ form.body }}</div></div></br>
<div class="btn-group btn-group-lg" role="group"><button class="btn btn-warning"type="submit"><b>{% trans 'Reply' %}</b></button></div>
</br></br>
</div>
</form>{% endif %}
{% endif %}
{% endfor %}
</div></div>
</div>
{% endblock %}