{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Log In" %}{% endblock %}
{% block page_title %}{% trans "Log In" %}{% endblock %}
{% block content %}

</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1587008694862538&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="well">
{% if socialaccount.providers  %}
{% blocktrans with site.name as site_name %}
<div class="socialaccount_ballot">
<br/>
  <a class="btn btn-social btn-facebook" href="/accounts/facebook/login/"><div class="fb"></div>
        <i class="fa fa-facebook"></i> &nbsp;|&nbsp; Log in with Facebook
      </a>
<br/>
<br/>
Or with your <b>Training Portal</b> account: {% endblocktrans %}
<br/>
{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<br/>
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="btn btn-primary primaryAction" type="submit"><b>{% trans "Log In" %}</b></button>
</form>
</div>
</div>
&nbsp;&nbsp;If you do not have an account, please <a href="{{ signup_url }}">sign up</a>
</br>
</br>
{% endblock %}
