#id_error_message {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #CC0000;
}

.edit_link, .delete_link, .download_link {
    font-style: italic;
    float: right;
    padding-right: 0.5em;
}

#id_directories_div {
    margin-top: 1ex;
    margin-top: 1ex;
}


#id_new_directory_name {
    width: 25ex;
}

#id_new_file_name {
    width: 25ex;
}

td.first_column {
    min-width: 20ex;
}

td.file_size {
    color: #888;
    font-size: 75%;
    padding-left: 1.25em;
}

td.file_timestamp {
    color: #888;
    font-size: 75%;
}

.directories_link {
}


hr {
    border: 0;
    height: 1px;
    background-color: #C1EDFF;
}


#id_breadcrumbs_div {
    font-weight: bold;
}

#id_console_here_div {
    float: right;
    margin-right: 2em;
    font-weight: normal;
}

#id_upload_div {
    float: left;
}

#id_quota_information {
    font-size: small;
    float: right;
}


#id_dropbox_connect_link {
    float: right;
}

div.tabs_underline {
    border-top: 3px solid #C1EDFF;
    clear: both;
    margin-bottom: 10px;
}

ul.dashboard_tabs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboard_tab {
    font-size: 24px;
    padding: 7px 15px 7px 15px;
    float: left;
    margin-bottom: -3px;
    margin-top: 3px;
}

.dashboard_tab.selected {
    border-top-left-radius: 12px;
    -moz-border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    -moz-border-top-right-radius: 12px;
    border-left: 3px solid #C1EDFF;
    border-right: 3px solid #C1EDFF;
    border-top: 3px solid #C1EDFF;
    border-bottom: 4px solid #FFFFFF;
    margin-top: 0px;
}

.dashboard_tab.selected a {
    color: #444444;
    text-decoration: none;
}

.tabs_container .alert {
    width: 390px; 
    float: right; 
    margin-top: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
    margin-left: auto; 
 }

.tabs_container .alert:hover {
    text-decoration: underline;
 }
