{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}
{% block page_title %}
<div class="container-fluid">
    <div class="btn-group" role="group" style="padding-left:4px;margin-bottom:10px" aria-label="...">
    &nbsp; <a type="button"class="btn btn-primary" href="/trainingPortal/test/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;<b> Back   </b>&nbsp;</a>
</div></div></br></br>
<div class="container-fluid">
<span class="label label-info"><b>{{ quiz.title }}</b></span></div>{% endblock %}
{% block content %}
 {% if user.is_authenticated %}
<div class="panel panel-primary"style="border-color:#FF6ED2;">
  <div class="panel-heading" style="background-color:#FF00AF;border-color:#FF6ED2;color:white;">
    <h5 class="panel-title"><b>{% trans "Category" %}: {{ quiz.category }}</b>{% if quiz.single_attempt %}
  <span class="badge"style="color:#FF00AF;">{% trans "Single attempt" %}</span>
{% endif %}</h5>
	 </div>
{% if user.profile.learningType != '0' %}
<div class="container-fluid">
</br>


</br>

<div class="container-fluid" style="background-color:#058997;color:white; margin-left:15px;margin-right:15px">
    </br><h4><b>Description</b></h4>
<p>{{ quiz.description }}</p></br></br></div>
<p>
    </br>
  <a href="{% url 'quiz_question' quiz_name=quiz.url %}"><button class="btn btn-info btn-block-lg btn-block">
	<b>{% trans "Start quiz" %}</b>
  </button>
  </a>
</p>
</br>
 </div>
 </div>
 	{% else %}
	<div class="alert alert-info" role="alert"> <p class="label label-info">Reminder</p></br> You need to complete your profile ! <a href="/trainingPortal/learningType/" class="btn btn-info" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

	{% endif %}
	{% else %}
				<div class="alert alert-warning" role="alert"> <p class="label label-warning">WARNING</p></br> Please log in to access this page.  <a href="/accounts/login" class="btn btn-warning" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>

		{% endif %}
		</br>
		</br>
		</br></br>
		</br></br>
{% endblock %}
