{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}
{% block page_title %}<span class="label label-primary" > {% trans "All Quizzes" %}</span>{% endblock %}
{% block content %}
 {% if user.is_authenticated %}
    {% if request.user.is_superuser %}
<h3><span class="label label-warning" style="background-color:#006699!important;border-color:#006699!important;">&nbsp; <b>{% trans "List of complete exams" %}</b>&nbsp;</span></h3></br>

    {% if sitting_list %}
		<table class="table table-bordered table-condensed table-responsive">

		  <thead>
			<tr>
			  <th>{% trans "User" %}</th>
			  <th>{% trans "Quiz" %}</th>
			  <th>{% trans "Completed" %}</th>
			  <th>{% trans "Score" %}(%)</th>
			  <th></th>
			</tr>
		  </thead>

		  <tbody>
			<tr>
			  <form action="" method="GET">
				<td><input type="text" name="user_filter" /></td>
				<td><input type="text" name="quiz_filter" /></td>
				<td></td>
				<td></td>
				<td><button type="submit" class="btn btn-info">{% trans "Filter"%}</button></td>
			  </form>
			</tr>


        {% for sitting in sitting_list %}

			<tr>
			  <td>{{ sitting.user }}</td>
			  <td>{{ sitting.quiz }}</td>
			  <td>{{ sitting.end|date }}</td>
			  <td>{{ sitting.get_percent_correct }}</td>
			  <td>
				<a href="{% url 'quiz_marking_detail' pk=sitting.id %}">
				  {% trans "View details" %}
				</a>
			</tr>

        {% endfor %}

		  </tbody>

		</table>
    {% else %}
        <p>{% trans "There are no matching quizzes" %}.</p>
    {% endif %}
	{% else %}
<div class="alert alert-danger" role="alert"> <p class="label label-danger">You don't have permission to access this page</p>
	</div>
	 {% endif %}
{% else %}
				<div class="alert alert-warning" role="alert"> <p class="label label-warning">WARNING</p></br> Please log in to access this page.  <a href="/accounts/login/?next=/test/marking/" class="btn btn-warning" role="button">Go <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>

		{% endif %}
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
{% endblock %}
