<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>base_write.html : /home/CybersecurityProject/Cybersecurity/cybersecurity/templates/postman/base_write.html : Editor : CybersecurityProject : PythonAnywhere</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="base_write.html : /home/CybersecurityProject/Cybersecurity/cybersecurity/templates/postman/base_write.html : Editor : CybersecurityProject : PythonAnywhere">
        <meta name="author" content="PythonAnywhere LLP">
        <meta name="google-site-verification" content="O4UxDrfcHjC44jybs2vajc1GgRkTKCTRgVzeV6I9V14" />


        <!-- Le styles -->
        <link rel="stylesheet" href="/static/CACHE/css/fb81b1b7ab1e.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/CACHE/css/f2e4190bb326.css" type="text/css" media="screen" />

        <!-- Le javascript -->
        <script type="text/javascript">
            var urls = {};
            var Anywhere = {};
            Anywhere.urls = {};
            Anywhere.csrfToken = "654e7cf0060a21fa47260296741fe2f0";
        </script>
        <script type="text/javascript" src="/static/CACHE/js/a1cfb7dec2b5.js"></script>
        

        <script type="text/javascript" src="/static/CACHE/js/a614bec3b8ec.js"></script>
        
    <script type="text/javascript">
        $(function() {
            $.extend(urls, {
                save: '/user/CybersecurityProject/files/home/CybersecurityProject/Cybersecurity/cybersecurity/templates/postman/base_write.html',
                check_hash: '/user/CybersecurityProject/files/home/CybersecurityProject/Cybersecurity/cybersecurity/templates/postman/base_write.html',
                run: '/user/CybersecurityProject/files/home/CybersecurityProject/Cybersecurity/cybersecurity/templates/postman/base_write.html' + '?run',
                update_editor_mode_preference: '/user/CybersecurityProject/account/update_editor_mode_preference',

            });
            $.extend(Anywhere.urls, urls);
            var filename = "/home/CybersecurityProject/Cybersecurity/cybersecurity/templates/postman/base_write.html";
            var hash = "650c9f197481a1bbdcf3baf20422ea7c";
            Anywhere.Editor.InitialiseAce(ace, urls, filename, hash);
            Anywhere.Editor.resetEditorState({pyflakes_warnings: [] });
            $("#id_keybinding_mode_select").val("normal");
            $("#id_keybinding_mode_select").trigger("change");

            Anywhere.WebAppControl.initialize();
        });
    </script>

        

        <!-- Le fav and touch icons -->
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">



    </head>

     <body>
        
    <div class="navbar">
        <div class="navbar-inner">
            <div id="id_internal_nav_bar_container" class="container">
                <div class="row">
                    <div class="span4">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="/"><img id="id_logo" src="/static/anywhere/images/logo-234x35.png" height="35" title="PythonAnywhere logo" alt="PythonAnywhere logo" /></a>
                    </div>
                    <div class="nav-collapse span8 right_hand_links">
                        <div class="row">
                            <ul id="id_header_links" class="nav ">
                                <li><a id="id_feedback_link" class='feedback_link' href="">Send feedback</a></li>
                                <li><a id="id_forums_link" href="/forums/">Forums</a></li>
                                <li><a href="/wiki/" id="id_help_link">Help</a></li>
                                <li><a href="http://blog.pythonanywhere.com/" id="id_blog_link">Blog</a></li>
                                
                                
                                    <li><a href="/user/CybersecurityProject/" id="id_dashboard_link">Dashboard</a></li>
                                    <li><a href="/user/CybersecurityProject/account/" id="id_account_link">Account</a></li>
                                    <li><a href="/logout" id="id_logout_link">Log out</a></li>
                                
                            </ul>
                        </div>

                        
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    



        
    


        

<div>

    <div id="id_editor_toolbar">

      <span id="id_breadcrumbs_div">
            
                <a class="breadcrumbs_link" href="/user/CybersecurityProject/files/">/</a> &gt;
            
                <a class="breadcrumbs_link" href="/user/CybersecurityProject/files/home">home</a> &gt;
            
                <a class="breadcrumbs_link" href="/user/CybersecurityProject/files/home/CybersecurityProject">CybersecurityProject</a> &gt;
            
                <a class="breadcrumbs_link" href="/user/CybersecurityProject/files/home/CybersecurityProject/Cybersecurity">Cybersecurity</a> &gt;
            
                <a class="breadcrumbs_link" href="/user/CybersecurityProject/files/home/CybersecurityProject/Cybersecurity/cybersecurity">cybersecurity</a> &gt;
            
                <a class="breadcrumbs_link" href="/user/CybersecurityProject/files/home/CybersecurityProject/Cybersecurity/cybersecurity/templates">templates</a> &gt;
            
                <a class="breadcrumbs_link" href="/user/CybersecurityProject/files/home/CybersecurityProject/Cybersecurity/cybersecurity/templates/postman">postman</a> &gt;
            
        <span id="id_file_name">base_write.html</span>
        <span id="id_unsaved_changes_spacer">
          <span id="id_unsaved_changes" class="pa_hidden">*</span>
        </span>
      </span>
      <img src="/static/anywhere/images/spinner-small.gif" class="pa_hidden" id="id_save_spinner" />
      <div id="id_editor_buttons_right" class="form-inline">

          <span id="id_keyboard_shortcuts"><a href="#">Keyboard shortcuts</a></span>
          <select id="id_keybinding_mode_select" class="input-small">
              <option value="normal">Normal</option>
              <option value="vim">Vim</option>
          </select>
          <button class="btn" id="id_save">Save</button>
          <span id="id_save_error" class="error_message pa_hidden">There was an error saving</span>
          

          
          
          

        </div>
        <div class="clear"></div>
    </div>

    <div id="id_editor">{% extends &quot;postman/base.html&quot; %}
{% load i18n %}
{% block extrahead %}{{ block.super }}
{% if autocompleter_app.is_active %}
{# dj v1.4 #}{% load static %}
&lt;script type=&quot;text/javascript&quot;src=&quot;
{# using the available admin jQuery is enough: #}
 {# dj v1.4 #}{% static &#39;admin/js/jquery.min.js&#39; %}
 {# dj v1.2/3 #}{# {% load adminmedia %}{% admin_media_prefix %}js/jquery.min.js #}
{# unless you really want your own: #}
 {# dj v1.2 #}{# {{ MEDIA_URL }}js/jquery.min.js #}
&quot;&gt;&lt;/script&gt;
{% if autocompleter_app.name == &quot;ajax_select&quot; %}{% if autocompleter_app.version == &quot;1.1.4&quot; or autocompleter_app.version == &quot;1.1.5&quot; %}&lt;script type=&quot;text/javascript&quot; src=&quot;
{# dj v1.4 #}{% static &#39;js/jquery.autocomplete.min.js&#39; %}
{# dj v1.3 #}{# {{ STATIC_URL }}js/jquery.autocomplete.min.js #}
{# dj v1.2 #}{# {{ MEDIA_URL }}js/jquery.autocomplete.min.js #}
&quot;&gt;&lt;/script&gt;
&lt;link type=&quot;text/css&quot; media=&quot;all&quot; rel=&quot;stylesheet&quot; href=&quot;
{# dj v1.4 #}{% static &#39;css/jquery.autocomplete.css&#39; %}
{# dj v1.3 #}{# {{ STATIC_URL }}css/jquery.autocomplete.css #}
{# dj v1.2 #}{# {{ MEDIA_URL }}css/jquery.autocomplete.css #}
&quot; /&gt;{# else: for version 1.2.x use AJAX_SELECT_BOOTSTRAP + AJAX_SELECT_INLINES or arrange to include jqueryUI/js/css #}{% endif %}{% endif %}
{% endif %}
{% endblock %}
{% block page_title %}
&lt;div class=&quot;btn-group&quot; role=&quot;group&quot; aria-label=&quot;...&quot;&gt;
&lt;a type=&quot;button&quot;class=&quot;btn btn-info&quot; href=&quot;/messages/inbox/&quot;&gt;&lt;b&gt; Inbox   &lt;span class=&quot;glyphicon glyphicon-inbox&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/a&gt;
&lt;a href=&quot;/messages/write/&quot; type=&quot;button &quot;class=&quot;btn btn-warning&quot;&gt;&lt;b&gt; Write   &lt;span class=&quot;glyphicon glyphicon-pencil&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/a&gt;
&lt;a type=&quot;button&quot;class=&quot;btn btn-primary&quot; style=&quot;background-color:#9b30f4!important; border-color:#9b30f4!important&quot; href=&quot;/messages/sent/&quot;&gt;&lt;b&gt; Sent   &lt;span class=&quot;glyphicon glyphicon-send&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/a&gt;
&lt;a href=&quot;/messages/trash/&quot; type=&quot;button &quot;class=&quot;btn btn-danger&quot;&gt;&lt;b&gt; Trash   &lt;span class=&quot;glyphicon glyphicon-trash&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/a&gt;
&lt;a href=&quot;/messages/archives/&quot; type=&quot;button &quot;class=&quot;btn btn-success&quot;&gt;&lt;b&gt; Archives   &lt;span class=&quot;glyphicon glyphicon-folder-open&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/a&gt;&lt;/div&gt;{% endblock %}

{% block content %}
&lt;div class=&quot;panel panel-primary&quot;style=&quot;border-color:#f3a433!important&quot;&gt;
  &lt;div class=&quot;panel-heading&quot; style=&quot;background-color:#f3a433!important; border-color:#f3a433!important&quot;&gt;
    &lt;h3 class=&quot;panel-title&quot;&gt;&lt;b&gt;{% block pm_write_title %}{% endblock %}&lt;/b&gt;&lt;/h3&gt;
	 &lt;/div&gt;
  &lt;div class=&quot;panel-body&quot;&gt;
&lt;div id=&quot;postman&quot;&gt;
&lt;form action=&quot;{% if next_url %}?next={{ next_url|urlencode }}{% endif %}&quot; method=&quot;post&quot;&gt;{% csrf_token %}
&lt;div class=&quot;table-responsive&quot;&gt;
&lt;table class=&quot;table&quot;&gt;
{% block pm_write_recipient %}{% endblock %}
{{ form.as_table }}
&lt;/table&gt;
&lt;/div&gt;
&lt;div class=&quot;btn-group btn-group-lg&quot; role=&quot;group&quot;&gt;&lt;button class=&quot;btn btn-warning&quot;type=&quot;submit&quot;&gt;{% trans &quot;Send&quot; %}&lt;/button&gt;&lt;/div&gt;
&lt;/br&gt;
&lt;/form&gt;
&lt;/div&gt;
 &lt;/div&gt;
  &lt;/div&gt;
{% endblock %}</div>

    <div id="id_go_to_line_dialog" class="pa_hidden">
        <p class="form-inline">Line number: <input id="id_go_to_line_dialog_input" /></p>
        <div class="dialog_buttons">
            <button class="btn" id="id_go_to_line_dialog_ok_button">Go</button>
            <button class="btn" id="id_go_to_line_dialog_close_button">Close</button>
        </div>
    </div>

    <div id="id_file_changed_on_disk" class="pa_hidden">
        <p>Are you sure you want to save it?  Alternatively, you could re-open it in a new tab to check differences</p>
        <div class="dialog_buttons">
            <button id="id_cancel_save" class="btn">Cancel</button>
            <button id="id_force_save" class="btn btn-danger">Force Save</button>
        </div>
    </div>



        
    <div id="id_footer" class="container">

        <footer id="id_copyright_div">
            <p>
                Copyright &copy; 2015 <a href="/about/company_details/">PythonAnywhere LLP</a>
                &mdash;
                <a href="/terms/">Terms</a>
                &mdash;
                <a href="/privacy/">Privacy</a><br/>
                "Python" is a registered trademark of the Python Software Foundation.
            </p>
        </footer>

    </div>


        


        <div id="id_feedback_dialog" title="Help us improve" style="display:none">
    <div id="id_feedback_dialog_blurb_big" class="dialog_blurb_big">
        It's always a pleasure to hear from you!
    </div>
    <div id="id_feedback_dialog_blurb_small">
        Ask us a question, or tell us what you love or hate about PythonAnywhere.<br/>
        We'll get back to you over email ASAP.
    </div>
    <textarea id="id_feedback_dialog_text" rows="6"></textarea>
    <input id="id_feedback_dialog_email_address" type="text" placeholder="Email address (optional - only necessary if you would like us to contact you)"/>
    
    <div id="id_feedback_dialog_error" class="pa_hidden">
        Sorry, there was an error connecting to the server. <br/>Please try again in a few moments...
    </div>
    <div class="dialog_buttons">
        <img id="id_feedback_dialog_spinner" src="/static/anywhere/images/spinner-small.gif" />
        <button class="btn btn-primary" id="id_feedback_dialog_ok_button">OK</button>
        <button class="btn" id="id_feedback_dialog_cancel_button">Cancel</button>
    </div>
</div>


        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-18014859-6']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

        


    </body>
</html>
