{% extends "postman/base_write.html" %}
{% load i18n %}
{% block page_title %}
<a type="button"class="btn btn-info" href="/messages/inbox/"><b> Inbox   <span class="glyphicon glyphicon-inbox"></span></b></a> 
<a href="/messages/write/" type="button "class="btn btn-warning"><b> Write   <span class="glyphicon glyphicon-pencil"></span></b></a>
<a type="button"class="btn btn-default" href="/messages/sent/"><b> Sent   <span class="glyphicon glyphicon-send"></span></b></a> 
<a href="/messages/trash/" type="button "class="btn btn-default"><b> Trash   <span class="glyphicon glyphicon-trash"></span></b></a>{% endblock %}
{% block pm_write_title %}{% trans "Write"%}{% endblock %}